body{
	background-image: url("https://previews.123rf.com/images/dodes11/dodes111507/dodes11150700019/43201760-tri%C3%A1ngulo-de-fondo-p%C3%A1gina-web-vector-illustration-fondo-abstracto-dise%C3%B1o-de-semitono-del-fondo-templates-ge.jpg")
}

h1 {
	text-align: center;
}

.menu{
	width:250px;
}

#cTr{
	background-color: cyan;
}

#cTa{
	background-color: green;
}

#cF{
	background-color: red;
}

#cG{
	background-color: pink;
}

#tabla{
    font-family: arial;
	font-size: 20px;
}

ul{
	list-style-type: square;
}

table, td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td{
	text-align: center;
}

img {
	width:35%;
	height:35%;
}